body{
	font-family: verdana;
}

#nav{
	float: left;
	width: 140px;
}

#navlist{
	list-style-type: none;
	padding: 0;
	font-size: 14pt;
}

#navlist li {
	background-color: rgb(133,0,255);
	margin: 4px;
	padding: 2px 6px;
	border-radius: 6px;
}
#navlist li:hover {
	background-color: grey;
}

#navlist a {
	text-decoration: none;
	color: white;
	display: block;
}

#content{
	float: left;
}