body, input, select {
	font-family: verdana;
}

body { margin: 0}
@media screen and (min-width:540px)
{
	#navmobile{ display: none; }
	#nav { display: block; }
}
@media screen and (max-width:540px)
{
	#navmobile{ display: block; }
	#nav{ display: none; }
}

#navmobile {
	width: 100%;
	background-color: rgb(197,216,235);
}

#navmobile_center{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#navmobile img {
	width: 32px;
	height: 32px;
	margin: 8px 10px;
}

intput, select {
	font-size: 12pt;
}

#nav{
	float: left;
}

#navlist{
	list-style-type: none;
	padding: 0;
	font-size: 14pt;
	min-width: 100px;
}

#navlist li {
	background-color: rgb(133,0,255);
	margin: 4px;
	padding: 2px 6px;
	border-radius: 6px;
}
#navlist li:hover {
	background-color: grey;
}

#navlist a {
	text-decoration: none;
	color: white;
	display: block;
}

#content{
	float: left;
	width: 90%;
}

#devlist {
	list-style-type: none;
	padding: 0;
	width: 80%;
}

#devlist li {
	display: inline-block;
	width: 100%;
	padding: 4px;
	border: solid 2px rgb(133,0,255);
	border-radius: 8px;
	margin-bottom:10px;
}

.devtitle {
	float: left;
	line-height: 32px;
}

.devctl {
	float: right;
}

.devctl img {	
	cursor: pointer;
	height: 32px;
	width: 32px;
}

.devctl .wait{
	cursor: default;
	height: 22px;
	width: 22px;
}

.delicon {
	content:url("/static/delete.png");
}

.editicon {
	content:url("/static/settings.png");
}