body{
	font-family: verdana;
}

#nav{
	float: left;
	width: 10%;
}

#navlist{
	list-style-type: none;
	padding: 0;
	font-size: 14pt;
}

#navlist li {
	background-color: rgb(133,0,255);
	margin: 4px;
	padding: 2px 6px;
	border-radius: 6px;
}
#navlist li:hover {
	background-color: grey;
}

#navlist a {
	text-decoration: none;
	color: white;
	display: block;
}

#content{
	float: left;
	width: 90%;
}

#devlist {
	list-style-type: none;
	padding: 0;
	width: 80%;
}

#devlist li {
	display: inline-block;
	width: 100%;
	padding: 4px;
	border: solid 2px rgb(133,0,255);
	border-radius: 8px;
	margin-bottom:10px;
}

.devtitle {
	float: left;
}

.devctl {
	float: right;
}

.devctl img {
	cursor: pointer;
}

.devctl .wait{
	cursor: default;
	height: 22px;
	width: 22px;
}