<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
		<title>PyMinister</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="stylesheet" href="/static/jquery-ui.css">
		<script src="/static/jquery.min.js"></script>
		<script src="/static/jquery-ui.min.js"></script>
		<script src="/static/strings.js"></script>
		<script>
			$(document).ready(function() {
				$("#mnuremote").text(res.MENU_REMOTE);
				$("#mnuevents").text(res.MENU_EVENTS);
				$("#mnudevices").text(res.MENU_DEVICES);
				$("#menuabout").text(res.MENU_ABOUT);
			});
			</script>
		{% block head %}{% endblock %}
	</head>
	
	<body>
		<div id="nav">
			<ul id="navlist">
				<li><a id="mnuremote" href="/"></a></li>
				<li><a id="mnuevents" href="/events"></a></li>
				<li><a id="mnudevices" href="/devices"></a></li>
				<li><a id="menuabout" href="/about"></a></li>
			</ul>
		</div>
		<div id="navmobile">
			<div id="navmobile_center">
				<a href="/remote"><img src="/static/remote.png" /></a>
				<a href="/events"><img src="/static/settings.png" /></a>
				<a href="/settings"><img src="/static/settings.png" /></a>
				<a href="/about"><img src="/static/about.png" /></a>
			</div>
		</div>
		<div id="content">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
