<style>
	.rbutton {
		border: solid 1px red;
		border-radius: 4px;
		width: 50px;
		height: 30px;
		padding: 2px;
		margin: 2px;
		cursor: pointer;
		display: table;
		float: left;
	}
</style>
<script>
	$(document).ready(function() {
		$(".rbutton").on("click", function() {
			var d = {};
			d["set"] = $(this).closest(".socket").data("set");
			d["socket"] = $(this).closest(".socket").data("socket");
			d["command"] = $(this).data("rc");
			
			$.ajax({
				url: "/json/viewcommand",
				type: "POST",
				dataType: 'text',
				data: {
					deviceid: deviceID,
					command: "remotecommand",
					data: JSON.stringify(d)
				}
			})
			.fail(function() {
				alert("Failed to send command. Please try again.");
			});
		});
	});
</script>

<div id="EMW200Rremote">
	<div class="socket" data-set="A" data-socket="1">
		<div class="rbutton" data-rc="On">On</div>
		<div class="rbutton" data-rc="Off">Off</div>
	</div>
</div>


