<style>
	.rbutton {
		border: solid 1px red;
		border-radius: 4px;
		width: 50px;
		height: 30px;
		padding: 2px;
		margin: 2px;
		cursor: pointer;
		display: table;
		float: left;
	}
</style>
<script>
	$(document).ready(function() {
		$(".rbutton").on("click", function() {
			if($(this).data("rc") == "On")
				command = "Turn On"
			else if($(this).data("rc") == "Off")
				command = "Turn Off"
				
			$.ajax({
				url: "/json/viewcommand",
				type: "POST",
				dataType: "text",
				data: {
					deviceid: deviceID,
					command: command,
					data: ""
				}
			})
			.fail(function() {
				alert("Failed to send command. Please try again.");
			});
		});
	});
</script>

<div id="EMW200Rremote">
	<div class="socket">
		<div class="rbutton" data-rc="On">On</div>
		<div class="rbutton" data-rc="Off">Off</div>
	</div>
</div>